@font-face {
    font-family: poppins;
    src: url(./res/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: poppins;
    src: url(./res/Poppins-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: poppins;
    src: url(./res/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: poppins;
    src: url(./res/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: mona;
    src: url(./res/mona-sans-lightwide-webfont.woff2);
    font-weight: 200;
}

@font-face {
    font-family: mona;
    src: url(./res/mona-sans-extraboldwide-webfont.woff2);
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;

}

#main{
    background-color: #0C0C0C;
}

#nav {
    height: 6.5vw;
    padding: 1vw 5vw;
    display: flex;
    position: fixed;
    z-index: 9;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* background-color: salmon; */
}

#nav img {
    height: 3.5vw;
}

#nav-pt2 {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

#menu h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1vw;
}

#bar {
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.bars {
    background-color: #ffffff;
    height: .16vw;
    border-radius: 5px;
    width: 1.2vw;
    /* gap: 20px; */
}
#page1 {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    padding-bottom: 5vw;
    width: 100vw;
    gap: 10vw;
    flex-direction: column;
}

#text{
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.txt{
    overflow: hidden;
}
#text h1{
    font-size: 6vw;
    font-weight: 200;
    font-family: mona;
    color: #ffffff;
    line-height: 1.1;
}
#text .txt:nth-child(2) h1{
    font-size: 6vw;
    font-weight: 600;
    font-family: mona;
}
#text .txt:nth-child(3){
    /* font-size: 6vw; */
    text-align: left;
    font-weight: 600;
    font-family: mona;
    margin-top: 3vw;
}
#text h3{
    margin-left: 40vw;
    text-transform: capitalize;
    font-family: poppins;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
#image-pg1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 100vw;
}
#image-pg1 #image{
    z-index: 2;
background-image: url(http://manifesto.clapat.com/images/00hero.jpg);
background-position: center;
background-size: cover;
    height: 96%;
    position: relative;
    object-fit: cover;
    width: 30%;
}
#innertex{
    height: 100%;
    opacity: 0;
    width: 100%;
    /* background-color: red; */
    background: linear-gradient(#0C0C0C, transparent, #0C0C0C);
}
#page1-text{
    /* background-color: rgb(97, 61, 61); */
    position: absolute;
    padding: 6vw;
    z-index: 99;
    /* text-transform: uppercase; */
    text-align: center;
}
#page1-text h1{
    position: relative;
    font-size: 4.3vw;
    color: #ffffff60;
    font-family: mona;
    font-weight: 600;
    text-transform: uppercase;
    
    
}
#page1-text h1 span{
    /* display: block; */
    z-index: 9;
    line-height: .8;
    /* display: inline-block; */
}
#page2{
    height: 100vh;
    width: 100vw;
    display: flex;
z-index: 99;
/* background-color: red; */
position: relative;
    align-items: center;
    /* overflow: hidden; */

    justify-content: center;
    /* background-color: red; */
    text-align: center;
    
}

#page3{
    height: 100vh;
    width: 100vw;
    /* background-color: #fff; */
}